BODY{
    background: linear-gradient(180deg, #ffffff 0%, #c5c5c5  100%);
   height:100vh;
   font-family: 'Lato', sans-serif;
 }
 
 h2{
   font-style: italic;
     color: #bfbfbf;
     font-size: 39px;
   margin-bottom:0px;
 }
 
 p{
   margin-top:0px;
   color:#b7b7b7;
   margin-bottom:20px;
 }
 
 .container{
   display:flex;
   flex-direction:column;
   align-items:center;
   margin-top:5%;
 }
 
 .flexy{
    display: flex;
    align-items: center;
 }
 
 label{
   font-size:20px;
   color:#a7a7a7;
 }
 
 #gradient{
      height: 300px;
     width: 300px;
     background: red;
     background: linear-gradient(180deg, #e66495 0%, #f6b73c 100%);
     border-radius: 5px;
     box-shadow: -16px 13px 20px 0px #bfbfbf;
     margin:20px;
 }
 
 #gradient:hover{
   cursor:grab;
 }
 
 input[type="color"] {
     -webkit-appearance: none;
     border: none;
     width: 50px;
    outline: none;
   background:none;
   padding-left: 10px;
   padding-right: 10px;
 }
 input[type="color"]::-webkit-color-swatch-wrapper {
     padding: 0;
 }
 input[type="color"]::-webkit-color-swatch {
     border-radius:50px;
   border:none;
 }
 
 .visit{
 font-size: 12px;
     background: #e4e4e4;
     width: 146px;
     padding: 6px;
     border-radius: 10px;
     position: fixed;
     right: 20px;
     top: 20px;
     text-align: center;
 }
 
 a{
   color:black;
 }